[submodule "styles"]
	path = styles
	url = git://github.com/citation-style-language/styles.git
[submodule "locales"]
	path = locales
	url = git://github.com/citation-style-language/locales.git
[submodule "citeproc-php"]
	path = citeproc-php
	url = ./citeproc-php
