RewriteEngine On
RewriteBase /

DirectoryIndex index.php

# Serve /foo as api?dbkey=foo
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d

RewriteRule ^([a-z0-9-]+)/?$ api?dbkey=$1 [L,QSA]

# Disallow all PHP files
RewriteCond %{THE_REQUEST} ^GET\s.+\.php [NC]
RewriteRule . - [F]

# Disallow access to non-public subdirectories
<IfModule mod_alias.c>
RedirectMatch 404 ^.*/(locales|styles|t|citeproc-php|.git)(.*)?$
</IfModule>
