RewriteEngine On

# Serve index.php as '/' 
DirectoryIndex index.php

# Serve /foo as api?dbkey=foo
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*/)?([^/]+)$ api.php?dbkey=$2 [L,QSA]

# Disallow all PHP files
RewriteCond %{THE_REQUEST} ^GET\s.+\.php [NC]
RewriteRule . - [F]

# Disallow access to non-public subdirectories
<IfModule mod_alias.c>
RedirectMatch 403 ^.*/(locales|styles|t|citeproc-php|.git)(.*)?$
</IfModule>
